<app-header></app-header>

<main>
  <section class="section">
    <div class="container">
      <h4>Privacy Policy - giftlist</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet
        est in eros vulputate, non malesuada leo efficitur. Curabitur feugiat
        ligula at ante scelerisque, nec tristique sapien tincidunt.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet
        est in eros vulputate, non malesuada leo efficitur. Curabitur feugiat
        ligula at ante scelerisque, nec tristique sapien tincidunt.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet
        est in eros vulputate, non malesuada leo efficitur. Curabitur feugiat
        ligula at ante scelerisque, nec tristique sapien tincidunt.
      </p>

      <div class="divider"></div>

      <h6>1. Information We Collect</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        vulputate mi ut libero scelerisque, in varius tortor rutrum. Etiam
        varius augue a erat vehicula, nec aliquet nulla elementum.
      </p>
      <h6>1. Personal Information</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor
        malesuada urna, eget viverra nunc vestibulum sit amet. Integer nec odio.
        Praesent libero.
      </p>
      <ul>
        <li>Full name</li>
        <li>Email address</li>
        <li>Login information</li>
        <li>IP address</li>
        <li>Browsing data (such as pages visited, time spent, etc.)</li>
      </ul>

      <h6>1.2. Information from Created Lists</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        vulputate mi ut libero scelerisque, in varius tortor rutrum. Etiam
        varius augue a erat vehicula, nec aliquet nulla elementum.
      </p>
      <ul>
        <li>
          Items added to the list (including product names, links, and other
          details)
        </li>
        <li>
          Sharing information (who you shared your lists with, such as email
          addresses or shared links)
        </li>
      </ul>

      <h6>1.3. Cookies and Tracking Technologies</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        vulputate mi ut libero scelerisque, in varius tortor rutrum. Etiam
        varius augue a erat vehicula, nec aliquet nulla elementum.
      </p>
      <ul>
        <li>Browsing information (such as accessed pages, time spent, etc.)</li>
        <li>Device information (device type, operating system, etc.)</li>
      </ul>

      <div class="divider"></div>

      <h6>How We Use Your Information</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet
        metus eget urna ullamcorper feugiat. Integer malesuada erat a orci
        laoreet, vel lacinia justo volutpat.
      </p>
      <ul>
        <li>
          Provide and improve our services, including creating and sharing gift
          lists.
        </li>
        <li>
          Communicate with you, responding to inquiries, providing updates about
          the website, or sending promotional messages if you have opted to
          receive them.
        </li>
        <li>
          Analyze and improve the performance of our website using browsing data
          and other interactions.
        </li>
        <li>Comply with legal and regulatory obligations, if necessary.</li>
      </ul>

      <div class="divider"></div>

      <h6>3. Sharing Information</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet
        metus eget urna ullamcorper feugiat. Integer malesuada erat a orci
        laoreet, vel lacinia justo volutpat.
      </p>
      <ul>
        <li>
          With service providers who assist in the operation of our site (e.g.,
          hosting companies, analytics tools).
        </li>
        <li>
          To comply with legal obligations or when requested by government
          authorities, such as in response to subpoenas or legal proceedings.
        </li>
      </ul>

      <div class="divider"></div>

      <h6>4. Data Storage and Security</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.
        Nam aliquam orci et tortor dictum, et pharetra odio gravida. Phasellus
        vulputate mi ut libero scelerisque, in varius tortor rutrum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.
        Nam aliquam orci et tortor dictum, et pharetra odio gravida. Phasellus
        vulputate mi ut libero scelerisque, in varius tortor rutrum.
      </p>

      <div class="divider"></div>

      <h6>5. Your Rights</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor,
        dui ut viverra luctus, erat magna sollicitudin ligula, a euismod libero
        erat non lectus.
      </p>
      <ul>
        <li>Right of access: To know which personal data we are storing.</li>
        <li>
          Right to rectification: To update or correct inaccurate or outdated
          data.
        </li>
        <li>
          Right to deletion: To request the deletion of your personal data,
          subject to legal limitations.
        </li>
        <li>
          Right to restrict processing: To limit the use of your personal data
          under certain circumstances.
        </li>
      </ul>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero. Sed cursus ante dapibus diam.
      </p>

      <div class="divider"></div>

      <h6>6. International Data Transfers</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi.
        Nam aliquam orci et tortor dictum, et pharetra odio gravida. Phasellus
        vulputate mi ut libero scelerisque, in varius tortor rutrum.
      </p>

      <div class="divider"></div>

      <h6>7. Changes to the Privacy Policy</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor,
        dui ut viverra luctus, erat magna sollicitudin ligula, a euismod libero
        erat non lectus. Nulla facilisi.
      </p>

      <div class="divider"></div>

      <h6>8. Contact</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor,
        dui ut viverra luctus, erat magna sollicitudin ligula, a euismod libero
        erat non lectus. Nulla facilisi.
      </p>
      <ul>
        <li>Email: support&#64;giftlist.com</li>
      </ul>
    </div>
  </section>
</main>

<app-footer></app-footer>
