<app-header></app-header>

<main>
  <section class="section">
    <div class="container">
      <h4>Terms of Use - giftlist</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et
        ipsum sed nulla pharetra elementum a vel justo. Fusce non libero a ante
        dictum scelerisque a in purus.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et
        ipsum sed nulla pharetra elementum a vel justo. Fusce non libero a ante
        dictum scelerisque a in purus.
      </p>

      <div class="divider"></div>

      <h6>1. Description of Services</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla
        quis sem at nibh elementum imperdiet.
      </p>

      <div class="divider"></div>

      <h6>2. Registration and User Account</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
        interdum eros vel venenatis feugiat. Mauris sollicitudin arcu sit amet
        magna vehicula, et tempor ligula facilisis.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
        interdum eros vel venenatis feugiat. Mauris sollicitudin arcu sit amet
        magna vehicula, et tempor ligula facilisis.
      </p>

      <div class="divider"></div>

      <h6>3. Permitted Use</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet
        metus eget urna ullamcorper feugiat. Integer malesuada erat a orci
        laoreet, vel lacinia justo volutpat.
      </p>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>

        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>

        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>

        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>

        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>

      <div class="divider"></div>

      <h6>4. Intellectual Property</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec velit
        eget velit volutpat varius. Sed et nisl ligula. Vivamus tincidunt, mi at
        volutpat posuere, erat leo consequat metus, eget fringilla nulla neque a
        purus.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec velit
        eget velit volutpat varius. Sed et nisl ligula. Vivamus tincidunt, mi at
        volutpat posuere, erat leo consequat metus, eget fringilla nulla neque a
        purus.
      </p>

      <div class="divider"></div>

      <h6>5. Sharing Lists</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
        bibendum metus sit amet nulla dapibus, nec vehicula felis tincidunt.
        Proin id justo lorem. Integer tincidunt ante ut nisi fermentum, eget
        tincidunt tortor porttitor.
      </p>

      <div class="divider"></div>

      <h6>6. Privacy</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet
        metus eget urna ullamcorper feugiat. Integer malesuada erat a orci
        laoreet, vel lacinia justo volutpat.
      </p>

      <div class="divider"></div>

      <h6>7. Limitation of Liability</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        volutpat nulla sit amet turpis euismod, in aliquet purus pretium. Morbi
        malesuada nisl neque, ac tempus nisi tincidunt eget. Duis feugiat libero
        in nisi lacinia.
      </p>

      <div class="divider"></div>

      <h6>8. Modifications to the Terms</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        aliquet urna felis, at facilisis dui efficitur at. Donec ullamcorper
        risus felis, non cursus ante sodales in.
      </p>

      <div class="divider"></div>

      <h6>9. Cancellation and Suspension</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel enim
        lectus. Vivamus auctor sed ante at feugiat. Aliquam erat volutpat. Donec
        at leo nec nulla tempor varius eu vel felis.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel enim
        lectus. Vivamus auctor sed ante at feugiat. Aliquam erat volutpat. Donec
        at leo nec nulla tempor varius eu vel felis.
      </p>

      <div class="divider"></div>

      <h6>10. General Provisions</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        aliquet urna felis, at facilisis dui efficitur at. Donec ullamcorper
        risus felis, non cursus ante sodales in.
      </p>
    </div>
  </section>
</main>

<app-footer></app-footer>
