html,
body {
  height: 100%;
  margin: 0;
}

.guest-gift-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.title {
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}
